<footer>
    <div class="f-info">
        <div class="f-info-socials center">
            <a href="https://www.facebook.com/share/qQv1jKxPa5DQYoZk/?mibextid=qi2Omg" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/umair.malim07?igsh=OW43bGxlaWR2cWg1" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/malim-umair-b7a241234/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="center"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links center">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>